.env
node_modules/
__pycache__/
*.mp4
*.mp3
!assets/sonido/*.mp3
!content/*/audio/*.mp3
!assets/musica/*.mp3
!content/*/clips/*.mp4
/content/*/output.mp4
content/zz-prueba/
remotion/public/
remotion/out/
